<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <aside>
        <div class="logo__e__Menu">
            <a href="#"><img id="logo__App" src="./img/logo.png" alt="Logo App"></a>
            <a href="#"><img id="menu__Hamb" src="./img/menu-hamburguer.png" alt="Menu Hamburguer"></a>
        </div>

        <div class="menu__musica">
            <h3 class="titulo__menu">TOP 5 BANDAS</h3>
            <ul>
                <li><a href="#">Queen</a></li>
                <li><a href="#">S.O.A.D</a></li>
                <li><a href="#">Linkin Parkin</a></li>
                <li><a href="#">Foo Fighters</a></li>
                <li><a href="#">Rage Against</a></li>
            </ul>
        </div>
        <div class="menu__musica">
            <h3 class="titulo__menu">ARTISTAS</h3>
            <ul>
                <li><a href="#">Emicida</a></li>
                <li><a href="#">Glória Groove</a></li>
                <li><a href="#">Anitta</a></li>
                <li><a href="#">Beyonce</a></li>
                <li><a href="#">Rihanna</a></li>
            </ul>
        </div>
    </aside>
</body>

</html>